.hakkımızda__image {
  opacity: 0.7;
  padding: 1.5rem;
}

.hakkımızda__image picture {
  border-radius: var(--radius-large);
  overflow: hidden;
  display: inline-block;
  max-width: 300px;
}

.testimonials {
  padding: 1.5rem;
  border-radius: var(--radius-large);
  background-image: linear-gradient(
    to bottom right,
    var(--color-green) 30%,
    var(--color-yellow)
  );
  margin-bottom: 3rem;
}

.testimonials-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.testimonial-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: var(--radius-medium);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.quote-text {
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 1rem;
}

.author {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  color: var(--color-dark-purple);
}

@media all and (min-width: 768px) {
  .hakkımızda__image picture {
    max-width: 500px;
  }
}

@media all and (min-width: 1024.98px) {
  .hakkımızda__image picture {
    max-width: 600px;
  }

  .testimonials-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 3rem;
  }
}
