* {
  box-sizing: border-box;
}

:root {
  --site-content: 1184px;
  --color-melon: #f6b6ab;
  --color-grey: #555;
  --color-white: #f6f3f7;
  --color-purple: #dacae1;
  --color-dark-purple: #56445d;
  --color-blue: #c0dfef;
  --color-green: #e0f5e9;
  --color-dark-green: #74d29d;
  --color-yellow: #f4eab4;
  --radius-small: 5px;
  --radius-medium: 10px;
  --radius-large: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.2rem;
  max-width: var(--site-content);
  margin: 0 auto;
  border-bottom: 0.5rem solid #fff;
}

.desktop-nav {
  display: none;
}

.mobile-menu {
  display: block;
}

#menu-toggle {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  left: auto;
  width: 8rem;
  height: 16.3rem;
  background-color: rgba(255, 255, 255, 0.95);
  transition: right 0.3s ease-in-out;
  padding-top: 5rem;
  z-index: 100;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav li {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f1e7ec;
  padding: 0.6rem 0;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--color-grey);
  font-weight: 500;
}

#menu-toggle:checked ~ .hamburger-label {
  display: none;
}

#menu-toggle:checked ~ .close-label {
  display: block;
}

#menu-toggle:checked ~ .mobile-nav {
  right: 0;
  left: auto;
}

.close-label {
  display: none;
  z-index: 101;
}

.menu-icon {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}

li a {
  padding: 0.5rem;
}

nav li a:hover {
  background-color: var(--color-melon);
  color: var(--color-white);
  border-radius: var(--radius-medium);
}

/*HERO*/

.hero {
  /*--burdaki resmi düzenle*/

  background-image: url(./assets/hero-picture.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  max-width: 100%;
  margin: 0 auto 1.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Typography */

.text--xs {
  font-size: 0.875rem;
}
.text--sm {
  font-size: 1rem;
}
.text--md {
  font-size: 1.125rem;
}
.text--lg {
  font-size: 1.25rem;
}
.text--xl {
  font-size: 1.5rem;
}
.text--2xl {
  font-size: 1.75rem;
}
.text--3xl {
  font-size: 2.25rem;
}

.text--500 {
  font-weight: 500;
}

.text--600 {
  font-weight: 600;
}

.text--700 {
  font-weight: 700;
}

.text--center {
  text-align: center;
}

.line-1-4 {
  line-height: 1.4;
}

/*Genel class'lar*/

.site-content {
  max-width: var(--site-content);
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.m-auto {
  margin: 0 auto;
}

.mt-0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.mt-2 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.radius-20 {
  border-radius: var(--radius-medium);
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*COLORS*/

.text--grey {
  color: var(--color-grey);
}

.text--purple {
  color: var(--color-purple);
}

.text--dark-purple {
  color: var(--color-dark-purple);
}

.text--white {
  color: var(--color-white);
}

.text--melon {
  color: var(--color-melon);
}

/* HİKAYEMİZ BÖLÜMÜ */

.hikayemiz {
  background-image: linear-gradient(
    to bottom right,
    var(--color-purple) 10%,
    var(--color-green) 60%,
    var(--color-yellow)
  );
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hikayemiz__image img {
  max-width: 300px;
  margin: 1rem;
  border-radius: var(--radius-large);
}

.hikayemiz__text {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

/*MONTESSORI BÖLÜMÜ*/

.montessori__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: var(--site-content);
  margin: 0 auto;
  padding: 0 1rem;
}

.montessori-box {
  max-width: 250px;
  color: var(--color-grey);
  border-radius: var(--radius-large);
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(246, 182, 171, 0.8),
    rgba(218, 202, 225, 0.6)
  );
  padding: 0.5rem;

  flex: 1 1 100%;
}

.montessori-box img {
  max-width: 50px;
}

.montessori-box {
  flex: 1 1 23%;
}

/*ATÖLYELERİMİZ BÖLÜMÜ*/

.atolye__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.atolye__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  min-width: 300px;
}

.atolye-daire {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 6px 8px rgba(80, 120, 100, 0.8);
}

.atolye-daire img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.atolye__text-box {
  padding: 1rem 2rem 0.5rem 2rem;
  min-width: 300px;
  text-align: left;
  border: 3px solid var(--color-green);
  border-radius: var(--radius-large);
  background-image: linear-gradient(
    to bottom right,
    var(--color-purple),
    var(--color-green)
  );
}

.atolye__text-box ul {
  margin-top: 1.5rem;
}

.atolye__text-box li {
  margin-bottom: 0.8rem;
}

.atolye__text-box li i {
  color: var(--color-dark-green);
  margin-right: 1rem;
}

/*PROGRAMLARIMIZ*/

.programs__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.8rem;
  max-width: var(--site-content);
  margin: 1rem auto 1rem auto;
}

.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 120px;
  min-width: 140px;
  background-image: linear-gradient(
    to bottom right,
    var(--color-blue),
    var(--color-purple)
  );
  border-radius: var(--radius-large);
  gap: 1rem;
  position: relative;
}

.programs img {
  position: absolute;
  z-index: 100;
  max-width: 48px;
  top: -20px;
  right: -10px;
}

/*BİZDEN KARELER*/

.gallery__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 0.5rem;
}

.gallery__container img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-small);
  object-fit: cover;
  border: 5px solid var(--color-melon);
}

.gallery__container img:nth-child(3),
.gallery__container img:nth-child(5),
.gallery__container img:nth-child(7),
.gallery__container img:nth-child(10) {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery__container img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

@media (prefers-reduced-motion: reduce) {
  .gallery__container img:hover {
    transition: none;
    transform: none;
    box-shadow: none;
  }
}

/*FOOTER*/

footer {
  color: var(--color-dark-purple);
  padding: 0 1.5rem;
  margin-top: auto; /* Sayfanın altına yapışmasını sağlar */

}

.footer__container {
  display: flex;
  flex-wrap: wrap; /* Küçük ekranlarda alt alta gelmesini sağlar */
  max-width: var(--site-content);
  margin: 0 auto;
  border-top: 1px solid var(--color-purple)
}
.footer__section {
  min-width: 200px; /* Minimum genişlik belirler */
  margin: 0;
}

.footer__logo{
  min-width:fit-content;
  margin:0 auto;
  padding-top:1rem;
  
}

 .footer__logo img{
    height: 80px;
  }

.footer__section h3 {
  color: var(--color-grey);
  margin-bottom: 1.3rem;
  
}

.footer__section ul li {
  margin-bottom: 1rem;
}
.footer__section ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer__section ul li a:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
  border-radius: var(--radius-medium);
}

.footer__bottom {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-purple);
}




/*------MEDIA SORGULARI-------------------*/

/*navbar'daki @media sorgularını tekrar tekrar yazmamak için tablet için aralık vermek yerine 
tablet ve desktop geçişlerini min-width ile yönetmeye çalıştım*/

/* Tablet sized and sm desktop devices */
/*--- min width 768px ---*/

@media all and (min-width: 768px) {
  .desktop-nav {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-nav ul {
    display: flex;
    gap: 1.5rem;
  }

  .desktop-nav a {
    text-decoration: none;
    color: var(--color-grey);
    font-weight: 600;
  }

  .main-header {
    padding: 0.5rem 1.5rem 0.1rem;
  }

  .ourstory__image img {
    max-width: 500px;
  }

  .montessori__container {
    flex-direction: row;
    align-items: stretch;
  }

  .montessori-box {
    flex: 1 1 calc(50% - 0.5rem);
    max-width: 320px;
  }

  .atolye__container {
    flex-direction: row-reverse;
  }

  .atolye__images {
    flex: 1;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .atolye__text-box {
    flex: 0.8;
    padding: 0.5rem 1rem 0 1rem;
  }

  .atolye-daire {
    width: 150px;
    height: 150px;
  }

.footer__container { 
  justify-content: space-between;
  align-items: baseline;}


.footer__section {
  flex: 1; /* Esnek bir şekilde genişlemesini sağlar */
  min-width: 150px; /* Minimum genişlik belirler */
  margin: 0.5rem;
}

.footer__logo {
  align-self: center;
   padding:0;
}

.footer__logo img{
    height: 120px;
  }

}

/*-------------------------*/
/* LAPTOP SIZED AND LARGER */

@media all and (min-width: 1024.98px) {
  .main-header .logo {
    height: 125px;
  }

  .main-header {
    padding: 0.5rem 4rem 0.1rem;
  }

  .hero {
    height: 75vh;
    max-width: var(--site-content);
  }

  /* Typography */

  .text--xs {
    font-size: 1rem;
  }

  .text--sm {
    font-size: 1.15rem;
  }

  .text--md {
    font-size: 1.25rem;
  }

  .text--lg {
    font-size: 1.5rem;
  }

  .text--xl {
    font-size: 1.75rem;
  }
  .text--2xl {
    font-size: 2rem;
  }
  .text--3xl {
    font-size: 3rem;
  }

  .site-content {
    margin: 1rem auto;
  }

  .flex {
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .hikayemiz__text {
    padding: 2rem;
  }

  .hikayemiz__image img {
    max-width: 700px;
    height: auto;
  }

  .montessori__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .montessori-box {
    max-width: 250px;
  }

  .atolye__images {
    gap: 2rem;
    padding: 0.5rem;
  }

  .programs__container {
    gap: 3rem;
  }

  .programs {
    min-height: 180px;
    min-width: 200px;
    gap: 1rem;
  }

  .programs img {
    max-width: 64px;
  }


.footer__section {
  min-width: 200px; /* Minimum genişlik belirler */
  margin: 1.8rem;
}


 .footer__logo img{
    height: 150px;
  }


}
